
@{
    ViewBag.Title = "CorrectoRegistrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CorrectoRegistrado</h2>

<button type="button" class="btn btn-success"><a href="Registro"></a> Regresar </button>
